<div class="container">
  <h1 class="titulo" mat-dialog-title>Cuéntanos lo que piensas...</h1>

  <div mat-dialog-content>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="outline" class="title">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="form.get('title')?.hasError('required')">El título es obligatorio.</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="content">
        <mat-label>Contenido</mat-label>
        <textarea matInput formControlName="content" required></textarea>
        <mat-error *ngIf="form.get('content')?.hasError('required')">El contenido es obligatorio.</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div class="button" mat-dialog-actions>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="guardarPost()">Publicar</button>
      <button 
        mat-button 
        class="cancelar" 
        (click)="cerrar()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
