/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: #f0f0f0;
  margin: 0;
}

/* Contenedor de la columna principal */
.container-login {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 90%;
  height: 80%;
  background: rgb(229, 215, 178);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
}

/* Estilo para la columna de inicio de sesión */
.button-paginaPrincipal {
  flex: 2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para la columna de registro */
.registrar-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(196, 138, 61);
  width: 80%;
  height: 60%;
}

/* Ajusta el espacio del botón */
.button-paginaPrincipal .login-application button {
  padding: 15px 30px;
  font-size: 16px;
  width: auto;
  max-width: 100%;
}

/* Estilo para los elementos dentro de la columna de inicio de sesión */
.button-paginaPrincipal {
  margin-bottom: 20px;
}

.button-paginaPrincipal {
  margin-bottom: 20px;
}

.button-paginaPrincipal .login-application {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-paginaPrincipal .login-application img {
  margin: 0 15px;
  width: 50px;
  height: 50px;
}

.formulario {
  width: 100%;
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #0b2948;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 2%;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para el texto en la columna de registro */
.registrar-form h4 {
  margin-bottom: 20px;
}

/* Ajustar el diseño para pantallas más pequeñas */
@media (max-width: 768px) {
  .container-login {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .button-paginaPrincipal,
  .registrar-form {
    flex: none;
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
  }
}

.text-email {
  font-weight: bold;
}

small {
  color: red;
}

/* Estilos para el botón habilitado */
.btn-primary {
  background-color: blue;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Estilos para el botón deshabilitado */
.btn-primary.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.recoverpassword {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

nav {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
}

nav:hover {
  color: rgb(15, 12, 204);
}

.registrar {
  margin-top: 3.3%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 215, 178);
  text-align: center;
  height: 90%;
  width: 50%;
}

.example-full-width {
  width: 50%;
}

.formulario-input {
  text-align: center;
  align-items: center;
}

h4 {
  color: white;
}

.spinner-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 3%;
  width: 130%;
}

p {
  margin: 0;
  color: black;
  left: 10%;
}

.logo {
  margin-top: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  mix-blend-mode: multiply;
  margin-left: 0.5%;
}

.img-logo {
  width: 70%;
  height: 50%;
}

.encabezado-crear {
  margin-top: -15%;
  margin-bottom: 5%;
}